*.log
.htaccess
sitemap.xml
sitemap.xml.gz
wp-config.php
advanced-cache.php
backup-db/
backups/
blogs.dir/
cache/
upgrade/
uploads/
wp-cache-config.php

ngi/

.htaccess

*~
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db

# wordpress specific
wp-config.php
blogs.dir/
upgrade/*
backup-db/*
advanced-cache.php
wp-cache-config.php
cache/*
cache/supercache/*

# wpengine specific
.smushit-status
.gitattributes
_wpeprivate
object-cache.php
mu-plugins/mu-plugin.php
mu-plugins/slt-force-strong-passwords.php
mu-plugins/limit-login-attempts
mu-plugins/wpengine-common
mysql.sql


# mine specific
_db
sass-cache/*
.sass-cache/*
*.scssc
uploads/wp-migrate-db/*


# large/disallowed file types
# a CDN should be used for these
*.hqx
*.bin
*.exe
*.dll
*.deb
*.dmg
*.iso
*.img
*.msi
*.msp
*.msm
*.mid
*.midi
*.kar
*.mp3
*.ogg
*.m4a
*.ra
*.3gpp
*.3gp
*.mp4
*.mpeg
*.mpg
*.mov
*.webm
*.flv
*.m4v
*.mng
*.asx
*.asf
*.wmv
*.avi

*.codekit
