@include break-min($break-lg) {

   .page.home header {
      position: relative;
      z-index: 99;
      height: 139px;
   }

   nav.navbar.navbar-dark.bg-inverse.navbar-static-top {
      position: fixed;
      width: 100%;
      margin-top: 0;
   }

   .the-subnav.bg-green.hidden-md-down {
      position: fixed;
      top: 97px;
      width: 100%;
   }


}




/* #nav-item-9616 {
   &:before {
      content: "e60e";
      font-family: 'icomoon';
      display: inline-block;
      color: red;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
   }
}

 */


#sidemenu {
   background-color: $green;
   border-color: transparent;
   padding: 20px;

   .navbar-nav .nav-item+.nav-item {
      margin-left: 0;
   }

   ul#menu-secondary-menu li {
      display: block;
      width: 100%;

      > a {
         color: $gray-darker;
         font-size: 14px;
      }
   }

   li#nav-item-9621, li#nav-item-9622, li#nav-item-9623, li#nav-item-13658, li#nav-item-13659, li#nav-item-13660 {
      a {
         color: #fff!important;
          text-transform: uppercase;
          letter-spacing: 2px;
          font-size: 11px!important;
          font-weight: 500;

      }
      margin-top: 30px;
      &:first-of-type {
         margin-top: 0;
      }
   }
}



.navbar-dark li > a {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 1px;
    color: #fff;
    transition: all .2s;
    line-height: 80px;
    display: block;
       &:hover {
          opacity: .8;
       }
}

.navbar-dark li.current_page_item > a {
   color: $green;
      &:hover {
         color: $green;
         opacity: 1;
      }
}


.navbar-dark .navbar-brand {
   text-indent: -9999px;
   background: url(../../../../../assets/ngihca-favicon1.png);
   height: 50px;
   background-position: left center;
   background-repeat: no-repeat;
   background-size: contain;
   margin-top: 7px;
   @include break-min($break-sm) {
      background: url(../../../../../assets/ngihca-header-4171.png);
      height: 80px;
      width: 297px;
      margin-top: 0;
   }
}

button.navbar-toggler {
   margin-top: 10px;
   @include break-min($break-sm) {
      margin-top: 18px;
   }
}

ul#menu-mobile-menu {
/*     background: red;
float: left;
width: 100%;
display: block; */
margin-top: 10px;
    li {
        display: block;
        width: 100%;
        margin: 0;
        a {
           line-height: 40px;
        }
     }
}


div#navbar-mobile {
    float: left;
    /* background: pink; */
    width: 100%;
    /* display: block; */
}



.subnav-left li {
   margin-top: 17px;
}

.subnav-left li a {
   text-transform: uppercase;
   font-size: 14px;
   letter-spacing: 1px;
   color: #fff;
   font-weight: 400;
}

.subnav-right .btn {
   font-size: 13px;
   @include upo(1px);
   margin-top: 10px;
}



// THE TOOLTIP

.tooltip-inner {
   font-size: 85%;
   max-width: 250px;
   padding: 10px;
   background: $white;
   color: $black;
   box-shadow: -14px 10px 20px -8px rgba(0,0,0,0.45);
}


.tooltip.tooltip-bottom .tooltip-arrow, .tooltip.bs-tether-element-attached-top .tooltip-arrow {
    top: -10px;
    left: 50%;
    margin-left: -15px;
    border-width: 0 15px 15px;
    border-bottom-color: #fff;
}


#navbar {

  li.dropper-nav {
    position: inherit;
  }

  

      a.droppable:after {
        // position: absolute;
        font-size: 10px;
        line-height: 1;
        // top: 19px;
        // right: 20px;
        content: '\f08e';
        font-family: "icofont";
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        padding-left: 4px;
      } 
}

// THE DROPPER




// FOR FADING on account of the DROPPER

#darkness {
    background:rgba(0, 0, 0, 0.75);
    display:none;
    height:100%;
    left:0;
    position:absolute;
    top:0;
    width:100%;
    z-index:5;
}





// AND FOR F'S SAKE, LET"S CLEAN UP THE SOW WIDGET

div#SOWidget {
  border-radius: 0!important;
  border: none!important;
  font-family: $graphik!important;
  box-shadow: none!important;
  background-color: transparent!important;
  right: 0!important;
}

#SOWidgetTitle span {
  font-weight: normal!important;
  border-radius: 0!important;
}

div#SOWidgetContent {
    background: $white!important;
    margin-top: 0!important;
}

#SOBookingButton {
  border-radius: 0!important;
  font-weight: 600!important;
  box-shadow: none!important;
}


